<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="forgot.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Recuperar Contraseña</h1>
            <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña</p>
            
            <form id="recoverForm">

                <!-- Imagen del candado -->
                 <div class="icon-container">
                    <img src="padlock.png" alt="candado">
                </div>
                
                <!-- Campo para el correo electrónico -->
                <input type="email" id="email" placeholder="Correo Electrónico" required>
                
                <!-- Botón para enviar enlace de recuperación -->
                <button type="submit">Enviar Enlace</button>
                
                <!-- Enlace para redirigir al login -->
                <p>¿Ya tienes una cuenta? <a href="#/home">Login</a></p>
            </form>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
