<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Bienvenido!</h1>
            <h2>Login</h2>

            <form id="loginForm">
                <input type="email" id="username" placeholder="Correo Electrónico" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                <a href="#/forgot">¿Olvidaste tu contraseña?</a>
                <button type="submit">Iniciar sesión</button>
                
            </form>
            
            <!-- Enlace que cambia el hash de la URL a #/register -->
            <p>¿No tienes una cuenta? <a href="#/register">Registro</a></p>
        </div>
        <div class="image-container">
            <img src="public/imagen_login.png" alt="Imagen de Login">
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
