<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-login">
        <div class="form-container">
            <h1>Bienvenido!</h1>
            <h2>Login</h2>

            <form id="loginForm">
                <input type="email" id="email" placeholder="Correo Electrónico" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                                                
                <button type="submit">Iniciar sesión</button> 
            </form>

            <!-- Contenedor para mensajes de error o éxito -->
            <div id="loginMsg"></div>

            <p>¿No tienes una cuenta? <a href="#/register">Registro</a></p>

            <!-- Enlace para recuperar contraseña -->
            <p><a href="#/forgot">¿Olvidaste tu contraseña?</a></p>
        </div>
        <div class="image-container">
            <!--<img src="public/image_login.svg" alt="Imagen de Login">-->
            <img src="image_login.svg" alt="Imagen de Login">
        </div>
    </div>
</body>
</html>
