<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-register">
        <div class="form-container">
            <h1>¡Es hora de empezar!</h1>
            <p>Completa los campos y forma parte de nosotros.</p> <br>
            
            <!-- Registration form with the corresponding IDs -->
            <form id="registerForm">
                <input type="text" id="username" placeholder="Nombres" required>
                <input type="text" id="lastname" placeholder="Apellidos" required>
                <Label>Fecha de Nacimiento</Label>
                <input type="date" id="brithdate" placeholder="Fecha de nacimiento"  max="{{today}}" required>
                <input type="email" id="email" placeholder="Correo electrónico" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" required>
                
                <button type="submit">¡Unirme ahora!</button>
                <p id="registerMsg"></p>
            </form>
            <br>
            <p>¿Ya tienes una cuenta? <a href="#/home">Acceder</a></p>
        </div>
    </div>

    <!-- Modal to display the successful registration message -->
    <div id="successModal" class="modal" style="display:none;">
        <div class="modal-content">
            <div class="modal-header">Registro Exitoso</div>
            <p>¡Te has registrado exitosamente!</p>
            <button id="closeModal" class="btn-close">Cerrar</button>
        </div>
    </div>

    <footer class="footer">
      <nav class="footer-nav">
        <a href="#/home">Acceder</a>
        <span>|</span>
        <a href="#/board">Home</a>
        <span>|</span>
        <a href="#/about-us">Nosotros</a>
      </nav>
      <p class="footer-copy">
        &copy; 2025. Sitio web desarrollado por NEXTSTEP Todos los derechos reservados.
      </p>
    </footer>
</body>
</html>
